@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing:border-box;
}

body {
  background: #639dd4 !important;
  min-height:100vh;
  display:flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}


body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}


.auth-inner {
  width:450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px  55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;

}

.auth-wrapper .form-control:focus {
  border-color: #639dd4;
  box-shadow: none;

}

#input-example {
  width: 20%;
  border-color: #639dd4;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;

}

#next-modal-input {
  width: 40%;
  border-color: #639dd4;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}


.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color:#167bff;
}

#user-item {
  color:#ffffff !important;
  float: right;
}


.container {
  font-size:100%;


}

.navbar-brand {
  font-size:180% !important;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;

}

#navbar-custom {
  /* justify-content: right !important; */
  justify-content: center;
}

#dropdown-basic {
  font-size: 100%;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  color:black;
  padding-top: 0.4rem;
}

.padding {
  padding: 10px;
}

.navbar-nav.ml-auto li a {
  color:black;
  font-family: 'Fira Sans', sans-serif;
}

#addButton {
  font-size:100%;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

.right-div {
  justify-content: right;
  

}

.navbar.navbar-expand.navbar-light.fixed-top {
  /* overflow-x: auto;
  overflow-y: visible; */
  white-space: nowrap;
}

.dashboard-container {
  width:90%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px  55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.patch-notes-container {
  width:40%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px  55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

#patch-notes-button {
  margin: 0 auto;
  display: block;
  margin-bottom: 5%;
  text-align:center !important;
  font-family: 'Fira Sans', sans-serif;
}

.AddModal .NextModal {

  width:95%;
  min-height: 70% !important;
  /* margin-bottom: 20% !important;
  padding-bottom: 50% !important; */
}


.owed-container{
  background-color: #ffffff;
}

.owing-container{
  background-color: #ffffff;
}

.dashboard-padding {
  padding-top: 8%;
}


.amount-label {
  width: 100%
}

.textbox {

  width: 50%;
  height: 100px;
  overflow-wrap: break-word;

}

#total-input {
  width: 29%;
  border-color: #639dd4;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

#next-modal-alert {
  width: 80% !important;
}


#data-header {
  font-size: 20px;
}

.navbar-headers {
  cursor: pointer;
}

#footnote-label {
  padding-top: 5%;
  margin: 0 auto;
  display: block;
  font-size: 12px;
  text-align: center;
}

.home-padding {
  padding-top: 30%;
}

@media (max-width: 500px) {

  #data-header {
    font-size: 16px;
  }

  .navbar-headers {
    display:none;
  }

  .welcome-headers {
    text-align: center;
    font-size: 20px;
  }

  .modal-padding {
    padding-top: 5%;
  }

}

@media (max-width: 1000px) {

  .home-padding {
    padding-top: 10%;
  }

  .auth-inner {
    width:90%;
  }

  .dashboard-padding {
    padding-top: 30%;
  }

  .navbar-brand {
    font-size:100% !important;
  }

  #input-example {
    width: 60%;
    border-color: #639dd4;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  
  }

  #next-modal-input {
    width: 100%;
    border-color: #639dd4;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }

  #total-input {
    width: 100%;
    border-color: #639dd4;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }

  #next-modal-alert {
    width: 100% !important;
  }


}